*{
    font-family: Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
}

.home-page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #FEF7D8;

    text-align: center;
}

/* Hero Image Styles */
.picture-carousel {
    position: relative;
    align-self: center;
    text-align: center;
    align-content: center;
    width: 100vw;
    /* max-height: 80vh !important; */
    /* height: 65vh; */
    /* outline: 2px solid red;  */
}

#descriptionSection{
    background: #D184D7;
    margin: 30px;
    border-radius: 60px;
    color: white;
    padding: 50px;
}

#descDivi{
    width: 20%;
    margin: auto;
}

#aboutHeading {
    font-family: cursive;
    font-size: 4em;
    
}
#description-text {
    margin-top: 1vh;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5vh;
}

#meetChars{
    margin: 30px;
}

#meetHeading{
    font-family: cursive;
    font-size: 4em;

    padding-left: 20px;
    padding-right: 20px;


    align-content: center;
    align-items: center;
}

#bytesName{
    color: #D184D7;
    font-family: cursive;
}

/* Download Styles */
#download #aboutHeading{
    padding-bottom: 50px;
}

#downloadCol{
    columns: 3;
    padding-bottom: 30px;
}

.column{
    background-color: white;
    padding: 30px;
    margin-left: 20px;
    border-radius: 40px;
    margin-right: 20px;
    border: pink, 2px, dashed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 40vh;

    align-items: center;
}

.logo{
    height: 8vh;
}

#downloadLabel{
    
    font-size: 40px;
    padding-bottom: 20px;
    
}

#downloadButton{


    background: #C0419D;
    color: white;
    padding: 10px;
    border-radius: 30px;
    margin-top: 10px;

    height: 7vh;
    font-size: 21px;

    width: 100%
}

#musicButton{
    z-index: 1;
}

/* 
.download-title {
    position: relative;
    margin-bottom: 1vh;
    align-self: center;
    font-size: 7.5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #D184D7;
}

.download-links-box {
    position: relative;
    margin-bottom: 10vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}   

.download-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.download-button-color {
    background-color: rgba(156,71,150,255);
}

.os-type {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */
