.home-page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(252,236,168,255);
}

.picture-carousel {
    position: relative;
    align-self: center;
    text-align: center;
    align-content: center;
    width: 60vw;
    height: 65vh;
    /* outline: 2px solid red;  */
}

.download-title {
    position: relative;
    margin-bottom: 1vh;
    align-self: center;
    font-size: 7.5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(156,71,150,255);
}

.download-links-box {
    position: relative;
    margin-bottom: 10vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}   

.download-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.download-button-color {
    background-color: rgba(156,71,150,255);
}

.os-type {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.description-text {
    margin-top: 1vh;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5vh;
}
