.about-page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(252, 236, 168, 255);
}

.credit-row-title {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 7.5vh;

  @media (max-width: 767px) {
    font-size: 5vh;
  }
}

.credit-row {
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-top: 2.5vh;
  margin-bottom: 5vh;
  flex-wrap: wrap;
}

.credit-cell {
  position: relative;
  margin: 1rem; /* adjust margin */
  width: calc(100% / 4 - 2rem); /* four items per row */
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 767px) {
    width: calc(100% / 2 - 2rem); /* two items per row on smaller screens */
  }

  @media (max-width: 480px) {
    width: 100%; /* one item per row on very small screens */
    margin: 0.5rem 0; /* reduce margin */
  }
}

.credit-cell img {
  width: 100%; /* set width to 100% of the container */
  max-width: 150px; /* limit max width */
  height: auto; /* maintain aspect ratio */
  object-fit: cover;
  border-radius: 1vh;
}

.credit-name {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 4vh;

  @media (max-width: 767px) {
    font-size: 2.5vh;
  }
}

.credit-title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2.5vh;

  @media (max-width: 767px) {
    font-size: 2vh;
  }
}

.thankyou-box {
  margin-top: 5vh;
  align-self: center;
  text-align: center;
  width: 70vw;

  @media (max-width: 767px) {
    width: 90vw; /* adjust width for smaller screens */
  }
}
