/* Base styles */
body {
    margin: 0;
    font-family: sans-serif;
}

.Carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    position: relative; /* Relative positioning for the button container */
    width: 600; /* Set a fixed width for the carousel */
    height: 400; /* Set a fixed height for the carousel */
    overflow: hidden; /* Hide overflow to keep images within the container */
    /* background-color: #f0f0f0; Background color for better visibility */
    border-radius: 5%;
    background-size: cover;
    background-size: no-repeat;


}

.Carousel img {
    width: 70%; /* Ensure the image covers the container's width */
    height: fill; /* Ensure the image covers the container's height */
    object-fit: cover;
    object-position: 55% 50%;
}

.left-button button, .right-button button {
    background-color: #4a5568;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 16px;
}

.left-button img, .right-button img {
    width: 30px; /* Adjust the width as needed */
    height: auto; /* Maintains the aspect ratio */
    display: block; /* Ensures the image doesn't have extra space around it */
    margin-top: 30px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    padding: 0 20px;
    box-sizing: border-box;
}

/* Custom spacing between buttons using margin */
.left-button, .right-button{
    margin-right: auto; /* Pushes the button to the left */
    margin-left: auto; /* Pushes the button to the left */


}

